@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #100e1d;
  color: white;
}

.containerBox{
  max-width: min(1300px,calc(100% - 8rem));
  margin-inline: auto;
}

@media (max-width:1100px){
  .containerBox{
    max-width: min(1000px,calc(100% - 2rem));
  }
}